<div id="ratingModal" class="modal-overlay js-rating-modal-backdrop is-hidden">
  <div class="modal-content rating-modal-content">
    <button class="close-btn js-rating-close-btn">
      <svg width="20" height="20">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <p class="rating-label">Rating</p>

    <div class="star-rating-container">
      <span class="rating-value js-rating-value"></span>
      <div class="stars-group js-stars">
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
      </div>
    </div>

    <form class="rating-form js-rating-form">
      <input
        type="email"
        class="rating-input"
        name="email"
        placeholder="Enter email"
        required
      />
      <button type="submit" class="btn btn-send">Send</button>
    </form>
  </div>
</div>
