.popular-recipe-description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Sadece 2 satır gösterir */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Sonuna ... ekler */

  /* Tasarıma uygun renk ve boyut */
  color: rgba(5, 5, 5, 0.5);
  font-size: 12px;
  line-height: 1.33;
  margin-top: 8px;
}
